@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
* {
  box-sizing: border-box;
}

.name {
  display: flex;
  align-items: left;
  justify-content: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  height: 10vh;
}

.titleFonction{
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  color:white;
  align-items: center;
  justify-content: center;
}

.title{
  font-family: 'Open Sans', sans-serif;
  color:#EFE4F0;
  align-items: center;
  justify-content: center;
  height: 4vh;
}

.sousTitle{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #EFE4F0;
}

.textes{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color:white;
}



.accessibility-animation {
  display: inline-block;
}
.accessibility-animation .middle-letters, .accessibility-animation .end-letters, .accessibility-animation .alternate-middle-letters {
  display: inline-block;
  overflow: hidden;
  height: 1.5em;
}
.accessibility-animation .end-letters {
  color:#E6F2E6;
}
.accessibility-animation .middle-letters, .accessibility-animation .alternate-middle-letters {
  color:#B3CAAA;
}
.accessibility-animation .middle-letters {
  animation: accessibility-middle-letters-animation 10s infinite;
  animation-delay: -7s;
  max-width: 0;
}
.accessibility-animation .alternate-middle-letters {
  animation: accessibility-alternate-middle-letters-animation 10s infinite;
  animation-delay: -7s;
  max-width: 0;
}

@keyframes accessibility-middle-letters-animation {
  0% {
    max-width: 500px;
  }
  25% {
    max-width: 0;
  }
  75% {
    max-width: 0;
  }
  90% {
    max-width: 500px;
  }
  100% {
    max-width: 500px;
  }
}
@keyframes accessibility-alternate-middle-letters-animation {
  0% {
    max-width: 0;
  }
  25% {
    max-width: 0;
  }
  50% {
    max-width: 500px;
  }
  75% {
    max-width: 0;
  }
  100% {
    max-width: 0;
  }
}

.des{
  font-family: 'Open Sans', sans-serif;
  color: #011A03;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.mail{
  font-family: 'Open Sans', sans-serif;
  color: #011A03;
  display:relative;
  justify-content: center;
  align-items: center;
}