@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

.titrePage{
	width: 620px;
	
	display: center;
	
	background-color: white;
	box-shadow: 5px 5px 5px #011C01;
	color: #4A166C;
	

}

.textTitrePage {
	text-align: center;
	margin-top: 10px;
}

.textTitrePage h {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: bold;
}

.bloc-experiences{
	width: 600px;
	background-color:#6F906F;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 10px;
	box-shadow: 5px 5px 5px #011C01;
}

.intitule{
	font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  font-weight: bold;
  color:black;

	padding-left: 50px;
	justify-content: flex;
}

.societeDate{
	font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color:#011C01;
	padding-left: 50px;
	justify-content: flex;
	font-weight: bold;

}

.descriptions{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color:#E6F2E6;
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
}

.descriptions h3 {
	font-size: 15px;
	margin-bottom: 5px;
	letter-spacing: 1px;
	color:white;
}

.descriptions p {
	margin-top: 0px;
	margin-bottom: 8px;
	font-size: 13px;
	padding-left: 20px;
}

.buttonLienProject{
	margin-left: 25px;
	color: #33691e;
	font-weight: bold;
}